body {
	height: 100%;
	background-color: #1D2329;
	color: white;
	font: 18px Segoe UI;

	display: flex;
	align-items: center;
	justify-content: center;
}


.dv-flex-col {
	margin-top: 80px;
	/*display: flex;
	flex-wrap: wrap;
	justify-content: center;*/
}

.dv-header-table {
	display: grid;
	grid-template-columns: 12% 88%;
	margin: 2px 0;
}

.dv-contabl {
	width: 420px;
	display: grid;
	grid-template-columns: 12% 88%;
	margin: 2px 2px;
}
.tbl-left {
	background-color: #404344;
	margin-right: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text-rot {
	letter-spacing: 3px;
	font-size: 22px;
	font-weight: bold;
	transform: rotate(-90deg);
}

.tbl-bd {
	background-color: #404344;
	text-align: center;
}
.tbl-ln {
	display: grid;
	grid-template-columns: 12% 73% 15%;
}
.tbl-ln > div {
	padding: 8px;
}
.tbl-ln > div.dv-txals {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tbl-ln > div.dv-txct > .text-blk {
	display: block;
}


/*.div-table {
	display: grid;
	grid-template-columns: 10% 90%;
}
.tbl-left {
	background-color: #404344;
	margin-right: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dv-table {
	margin-top: 2em;
	width: 420px;
	border-radius: 8px;
	background-color: #404344;
	text-align: center;
}
.tbl-ln {
	display: grid;
	grid-template-columns: 15% 75% 10%;
	padding: 8px;
}
.dv-tbl-span {
	padding: 8px;
}

.text-rot {
	transform: rotate(-90deg);
}*/